@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.btn {
    @apply flex justify-center items-center gap-2;
    @apply py-1 px-8 rounded-md;
}

.btn.yellow {
    @apply bg-yellow-500 hover:bg-yellow-300 text-black 
}

.btn.gray {
    @apply bg-zinc-900 hover:bg-zinc-800 text-yellow-400 text-sm
}